mixin text_field(options)
  -
    var ClassName="text_field"
    ClassName +=" "+options.type
  p(class=ClassName)
    if options.type=='masked'
      input.ph(type="date",placeholder=options.placehold)
    else
      input.ph(placeholder=options.placehold)
    if options.type=='subscription'
      <input class="material_icons" type="submit" value="arrow_forward">
