mixin text_field(options)
  -
    var ClassName="text_field"
    ClassName +=" "+options.type
  p(class=ClassName)
    input.text(placeholder=options.placehold)
    if options.type=='subscription'
      <input class="material_icons" type="submit" value="arrow_forward">
