.text_field{
  width: 320px;
  height: 44px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  text-indent: 10px;

  line-height: 18px;
  }

.text{
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 5px;
  height: 18px;
  width: 77%;
  border:none;
  outline: none;
  padding: 0px;
  font-family: Montserrat-Light,sans-serif;
  font-style: normal;
  font-weight: normal;
  color:rgba(31, 32, 65, 0.75);
}

.text_field:focus-within{
  border: 1px solid rgba(31, 32, 65, 0.5);
}

::-webkit-datetime-edit{
  text-transform:uppercase;
  color: rgba(31, 32, 65, 0.25);
}

.subscription{
  width: 260px;
  height: 44px;
}

.text_field:hover{
  border: 1px solid rgba(31, 32, 65, 0.5);
  color: rgba(31, 32, 65, 0.75);
}

.text_field:hover>::placeholder , .text_field:hover>::-webkit-datetime-edit{
  color: rgba(31, 32, 65, 0.75);
}

::placeholder{
  height: 44px;
  font-family: Montserrat-Light,sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(31, 32, 65, 0.25);
}

:focus-within::placeholder{
  color: rgba(31, 32, 65, 0.75);
}

:hover::placeholder{
  color: rgba(31, 32, 65, 0.75);
}
