include ../list/list

mixin dropdown(options)
  -
    var ClassName="dropdown"
    ClassName +="  "+options.type

  div(class=ClassName)
    button.dropbtn.guests(onclick='drop(this.id)',class=options.type)=options.text
    <button onclick="drop(this.id)" class="material_icons drop_icon">expand_more</button>
    div.dropdown-content(class=options.type)
      +list({text:'взрослые',id:'0'})
      +list({text:'дети',id:'1'})
      +list({text:'младенцы',id:'2'})
      div.drop_foot
        button.clear.inviz(onclick='clс()') очистить
        button.ok применить
    
  
    
