mixin dropdown(options)
  -
    var ClassName="dropdown"
    ClassName +="  "+options.type
  div(class=ClassName)
    <button onclick="drop(this.id)" class="dropbtn">Dropdown</button>
    <div class="dropdown-content" >
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
      <a href="#contact">Contact</a>
    </div>
    
