mixin date(options)
    if (options.type=="two")
      <div class="date-t">
        <input type="text" id="date-start"  placeholder="ДД.ММ.ГГГГ">
        <button id="date-start" class="material_icons ">expand_more</button>
      </div>
      <div  class="date-t">
        <input type="text" id="date-end" placeholder="ДД.ММ.ГГГГ">
        <button id="date-end" class="material_icons ">expand_more</button>
      </div>
    else
      <div  class="date-s" >
        <input type="text" id="date" placeholder="ДД.ММ.- ДД.ММ.">
        <button id="date" class="material_icons " >expand_more</button>
      </div>
    
    
